.link {
  margin-left: 16px;
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.link:first-child {
  margin-left: 0;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #007bff; /* синій підкреслення */
  left: 0;
  bottom: -4px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.link:hover::after,
.link.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.link:hover {
  color: #007bff;
}

.link.active {
  color: #007bff;
}
